body {
  background: rgb(191, 191, 191);
}

.light {
  background: rgba(255, 255, 255, 0.5);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
}

.dark {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  margin-top: 15%;
}

nav {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
}

nav>.nav-section {
  padding: 3rem 2rem;
  z-index: 0;
  display: flex;
  gap: 1rem;
  font-family: "Raleway";
}

a {
  text-decoration: none;
  color: black;
}

.Title {
  text-align: center;
  font-size: 70px;
  font-family: "Raleway";
}

.hiddenborder {
  border: 1px solid black;
  border: hidden;
  width: 45%;
  margin: auto;
}

.txt {
  text-align: center;
  font-family: "Raleway";
}

.parent {
  border: 1px solid black;
  width: 60%;
  height: 30vh;
  margin: auto;
  border-spacing: 10vh;
  border: hidden;
}

.child {
  border: 1px solid black;
  width: 30vh;
  height: 30vh;
  border-radius: 10px;
}

.child.one {}

.child.two {}

.child.three {}